{% extends 'base.html' %}
{% block mainpage %}

<div class="page-header">
    <h1>[Organisation Chart] {{ organisation.name }}</h1>
</div>

{% if unit_list %}
        <div class="table-responsive">      
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Office</th>
                        <th>Parent Unit</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for unit in unit_list %}
                    <tr>
                        <td>{{ unit.name }}</td>
                        <td>{{ unit.unittype }}</td>
                        <td>{{ unit.office }}</td>
                        <td>{{ unit.parent }}</td>
                        <td><a href="/org/unit/{{ unit.id }}/view/">[view]</a>&nbsp;
                            <a href="/org/unit/{{ unit.id }}/update/">[update]</a> &nbsp;
                            <a href="/org/unit/{{ unit.id }}/delete/">[delete]</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div> <!-- end of table responsive -->
{% else %}
    <p>No units exist for this organisation</p>
{% endif %}

<h2>Add Organisational Unit</h2>
        <form action="." method="post">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>

            <br>
    <input type="submit" value="Add Organisation Unit" class="submit" />
        </form>

{% endblock %}
