{% extends 'org_base.html' %}
{% load staticfiles %}
{% block mainpage %}

    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Organisation: {{ organisation.name }}</h3>
        </div>

        <div class="panel-body">
            <div class="row">

                <div class="col-md-4 col-lg-4" align="center">
                    <i class="fa fa-user fa-5x"></i>
                    <h2>People</h2>
                    <p>{{ organisation.person_set.count }}</p>
                    <a class="btn btn-primary" href="/people/"><i class="fa fa-search fa-lg"></i> View</a>
                    <a class="btn btn-primary" href="/people/new/"><i class="fa fa-plus fa-lg"></i> Add</a>


                </div>
                <div class="col-md-4 col-lg-4" align="center">
                    <i class="fa fa-users fa-5x"></i>
                    <h2>Groups</h2>
                    <p>{{ organisation.organisationgroup_set.count }}</p>
                    <a class="btn btn-primary" href="#"><i class="fa fa-search fa-lg"></i> View</a>
                    <a class="btn btn-primary" href="#"><i class="fa fa-plus fa-lg"></i> Add</a>
                </div>
                <div class="col-md-4 col-lg-4" align="center">
                    <i class="fa fa-bullseye fa-5x"></i>
                    <h2>Identifiers</h2>
                    <p>{{ org_identifier_count }}</p>
                    <a class="btn btn-primary" href="#"><i class="fa fa-search fa-lg"></i> View</a>
                    <a class="btn btn-primary" href="#"><i class="fa fa-plus fa-lg"></i> Add</a>
                </div>
            </div>

        </div> <!-- end of panel -->
</div>
        </br>

            <div class="row">
                <div class="col-md-3 col-lg-3 " align="center">
                    <h2>Overview</h2>
                </div> <!-- end of column - 3 -->
                <div class=" col-md-9 col-lg-9 ">
                    <table class="table table-user-information">
                        <tbody>
                        <tr>
                            <td>Name:</td>
                            <td>{{ organisation.name }}</td>
                        </tr>
                        {% if organisation.industry %}
                            <tr>
                                <td>Industry:</td>
                                <td>{{ organisation.industry }}</td>
                            </tr>
                        {% endif %}
                        {% if organisation.size %}
                            <tr>
                                <td>Size:</td>
                                <td>{{ organisation.size }}</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                    <a href="/org/{{ organisation.id }}/update/" class="btn btn-primary">update</a>
                    <a href="/org/{{ organisation.id }}/delete/" class="btn btn-primary">delete</a>

                </div> <!-- end of column -->
                </div> <!-- end of row -->
                </br>
                <div class="row">
                <div class="col-md-3 col-lg-3 " align="center">
                    <h2>LDAP</h2>
                </div>
                <div class=" col-md-9 col-lg-9 ">

                    {% if organisation.queryparameters_set %}
                        <div class="table-responsive">
                        {% for parameters in organisation.queryparameters_set.all %}
                            <table class="table table-striped">
                                <tbody>
                                <tr>
                                    <td>User DN</td>
                                    <td>{{ parameters.user_dn }}</td>
                                </tr>
                                <tr>
                                    <td>Server</td>
                                    <td>{{ parameters.server }}</td>
                                </tr>
                                <tr>
                                    <td>Dump DN</td>
                                    <td>{{ parameters.dump_dn }}</td>
                                </tr>
                                <tr>
                                    <td># Users</td>
                                    <td>
                                        <a href="/ldap/{{ parameters.id }}/view/users/">{{ parameters.activedirectoryuser_set.count }}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td># Groups</td>
                                    <td>
                                        <a href="/ldap/{{ parameters.id }}/view/groups/">{{ parameters.activedirectorygroup_set.count }}</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <a href="/ldap/{{ parameters.id }}/getall/" class="btn btn-primary">Import users and
                                groups</a>
                            <a href="/graph/ldap/{{ parameters.id }}/" class="btn btn-primary">Generate graph</a>
                        {% endfor %}
                    {% else %}
                        <p>This organisation does not have any ldap configurations associated with it.</p>
                    {% endif %}
                    </div> <!-- end of table responsive -->
                </div>

{% endblock %}

