{% extends 'base.html' %}
{% block mainpage %}

<div class="page-header">
    <h1>[organisation] {{ organisation.name }}
<a href="/org/{{ organisation.id }}/update/">[update]</a>
<a href="/org/{{ organisation.id }}/delete/">[delete]</a></h1>
</div>

<h2>Organisational Units &nbsp;
    <a href='/org/newunit/'>[add organisational unit]</a>
    <a href="/org/chart/">[view organisation chart]</a></h2>

{% if organisation.organisationunit_set %}
        <div class="table-responsive">      
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Unit Type</th>
                        <th>Office</th>
                        <th>Parent</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for organisation in organisation.organisationunit_set.all %}
                    <tr>
                        <td>{{ organisation.name }}</td>
                        <td>{{ organisation.unittype }}</td>
                        <td>{{ organisation.office }}</td>
                        <td>{{ organisation.parent }}</td>
                        <td><a href="/org/{{ organisation.id }}/view/">[view]</a>&nbsp;
                            <a href="/org/{{ organisation.id }}/update/">[update]</a> &nbsp;
                            <a href="/org/{{ organisation.id }}/delete/">[delete]</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>This organisation does not have any organisation units associated with it.</p>
        {% endif %}
        </div> <!-- end of table responsive -->
        {% endblock %}

