{% extends 'base.html' %}
{% block mainpage %}

<div class="page-header">
    <h1>[organisation] {{ organisation.name }}
<a href="/org/{{ organisation.id }}/update/">[update]</a>
<a href="/org/{{ organisation.id }}/delete/">[delete]</a></h1>
</div>

<h2>Summary</h2>

{% if organisation.queryparameters_set %}
        <div class="table-responsive">      
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>User DN</th>
                        <th>Server</th>
                        <th>Dump DN</th>
                        <th># Users</th>
                        <th># Groups</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for parameters in organisation.queryparameters_set.all %}
                    <tr>
                        <td>{{ parameters.user_dn }}</td>
                        <td>{{ parameters.server }}</td>
                        <td>{{ parameters.dump_dn }}</td>
                        <td><a href="/ldap/{{ parameters.id }}/view/users/">{{ parameters.activedirectoryuser_set.count }}</a></td>
                        <td><a href="/ldap/{{ parameters.id }}/view/groups/">{{ parameters.activedirectorygroup_set.count }}</a></td>
                        <td><a href="/ldap/{{ parameters.id }}/getall/">[import]</a></td>
                        <td><a href="/graph/ldap/{{ parameters.id }}/">[graph]</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>This organisation does not have any ldap configurations associated with it.</p>
        {% endif %}
        </div> <!-- end of table responsive -->

{% endblock %}

