{% extends 'base.html' %}
{% block mainpage %}

<div class="page-header">
             <h1>[project] .manage</h1>
</div>
{% if project_list %}
    <table style="margin-left:auto;margin-right:auto">
    {% for project in project_list %}
    <tr>
        <td class="left"><a href="/project/{{ project.id }}/view/">{{ project.name }}</a></td>
        <td><a href="/project/{{ project.id }}/update/">[update]</td>
        <td><a href="/project/{{ project.id }}/delete/">[delete]</td>
    </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No projects are available.</p>
{% endif %}
{% endblock %}
