{% extends 'base.html' %}
{% block mainpage %}

<div class="page-header">
    <h1>[project] {{ project.name }}
<a href="/project/{{ project.id }}/update/">[update]</a>
<a href="/project/{{ project.id }}/delete/">[delete]</a></h1>
</div>
<p>{{ project.description }}</p>
<h2>Organisations &nbsp;
    <a href="/org/new/">[add organisation]</a></h2>
{% if project.organisation_set %}
        <div class="table-responsive">      
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Industry</th>
                        <th>Size</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for organisation in project.organisation_set.all %}
                    <tr>
                        <td>{{ organisation.name }}</td>
                        <td>{{ organisation.industry }}</td>
                        <td>{{ organisation.size }}</td>
                        {% if organisation.queryparameters %}
                        <td><a href="/ldap/{{ organisation.id }}/view/">[ldap configuration]</a></td>
                        {% else %}
                        <td><a href="/ldap/{{ organisation.id }}/new/">[add ldap configuration]</a></td>
                        {% endif %}
                        <td><a href="/org/{{ organisation.id }}/view/">[view]</a>&nbsp;
                            <a href="/org/{{ organisation.id }}/update/">[update]</a> &nbsp;
                            <a href="/org/{{ organisation.id }}/delete/">[delete]</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>This project does not have any organisations associated with it.</p>
        {% endif %}
        </div> <!-- end of table responsive -->
<h2>People &nbsp;
    <a href="/people/new/">[add person]</a></h2>
{% if project.person_set %}
        <div class="table-responsive">      
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Firstname</th>
                        <th>Surname</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for person in project.person_set.all %}
                    <tr>
                        <td>{{ person.firstname }}</td>
                        <td>{{ person.surname }}</td>
                        <td><a href="/people/{{ person.id }}/view/">[view]</a>&nbsp;
                            <a href="/people/{{ person.id }}/update/">[update]</a> &nbsp;
                            <a href="/people/{{ person.id }}/delete/">[delete]</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>This project does not have any people associated with it.</p>
        {% endif %}
        
        </div> <!-- end of table responsive -->
{% endblock %}

