{% extends 'base.html' %}
{% load staticfiles %}
{% block mainpage %}

   <div class="page-header">



<div class="panel panel-info">
               <div class="panel-heading">
                   <h3 class="panel-title">Project Overview</h3>
               </div>

               <div class="panel-body">
                  <div class="row">
                     <div class="col-md-3 col-lg-3 " align="center">
                         <img width="100" alt="" src="{% static 'images/largebinary.jpg'%}" class="img-circle">
                     </div>
                     <div class=" col-md-9 col-lg-9 ">
                        <table class="table table-user-information">
                            <tbody>
                             <tr>
                                <td>Name:</td>
                                <td>{{ project.name }}</td>
                            </tr>
                            {% if project.description %}
                            <tr>
                                <td>Description:</td>
                                <td>{{ project.description }}</td>
                            </tr>
                            {% endif %}
                            </tbody>
                        </table>
                        <a href="/project/{{ project.id }}/update/" class="btn btn-primary">update</a>
                        <a href="/project/{{ project.id }}/delete/" class="btn btn-primary">delete</a>
                    </div>
                </div> <!-- end of row -->
            </div> <!-- end of panel body -->
        </div> <!-- end of panel -->


<h2>Organisations</h2>
{% if project.organisation_set %}

    <div class="table-responsive">

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Industry</th>
                        <th>Size</th>
                        <th>
                                <a href="{% url 'org_new' %}" class="glyphicon glyphicon-plus" data-toggle="modal" data-target="#myModal"></a>
                        </th>
                    </tr>
                </thead>
                <tbody>
   {% for item in project.organisation_set.all %}
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>{{ item.industry }}</td>
                        <td>{{ item.size }}</td>
                        <td>

          <a href="/org/{{ item.id }}/view/"><button type="button" class="btn btn-primary btn-sm">View</button></a>
          <a href="/org/{{ item.id }}/update/"><button type="button" class="btn btn-primary btn-sm">Update</button></a>
          <a href="/org/{{ item.id }}/delete/"><button type="button" class="btn btn-primary btn-sm">Delete</button></a>
    </tr>
    {% endfor %}
     </tbody>
    </table>
{% else %}
    <p>This project does not have any organisations associated with it.</p>
{% endif %}

{% endblock %}

