{% extends 'base.html' %}
{% block mainpage %}

<div class="page-header">
             <h1>[identity] .manage</h1>
</div>
        <div class="table-responsive">      
        {% if item_list %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Comment</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
    
                {% for item in item_list %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.description }}</td>
                        <td><a href="/identity/{{ item.id }}/view/">[view]</td>
                        <td><a href="/identity/{{ item.id }}/update/">[update]</td>
                        <td><a href="/identity/{{ item.id }}/delete/">[delete]</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
             <p>No items are available.</p>
        {% endif %}
        </div> <!-- end of table-responsive -->
{% endblock %}
