{% extends 'base.html' %}
{% block title %}AVA - Visibly More Secure{% endblock %}
{% block mainpage %}

<h2>[ldap] .all</h2>

{% if ldap_config_list %}
    <table style="margin-left:auto;margin-right:auto">
    {% for ldap_config in ldap_config_list %}
    <tr>
        <td class="left"><a href="/ldap/{{ ldap_config.id }}/view/">{{ ldap_config.server }}</a></td>
        <td><a href="/ldap/{{ ldap_config.id }}/update/">[update]</td>
        <td><a href="/ldap/{{ ldap_config.id }}/delete/">[delete]</td>
        <td><a href="/ldap/{{ ldap_config.id }}/getall/">[get all]</td>
        <td><a href="/ldap/{{ ldap_config.id }}/getusers/">[get users]</td>
        <td><a href="/ldap/{{ ldap_config.id }}/getgroups/">[get groups]</td>
        <td><a href="/ldap/{{ ldap_config.id }}/viewitems/">[view items]</td>
    </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No ldap configurations are available.</p>
{% endif %}

{% endblock %}
