{% extends 'base.html' %}
{% block title %}AVA - Visibly More Secure{% endblock %}
{% block mainpage %}

<h2>[ldap users] .all</h2>

{% if ldap_user_list %}
    <table style="margin-left:auto;margin-right:auto">
    {% for ldap_user in ldap_user_list %}
    <tr>
        <td class="left">{{ ldap_user.displayName }}</td>
        <td><a href="/ldap/user/{{ ldap_user.id }}/delete/">[delete]</td>
    </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No ldap users are available.</p>
{% endif %}


<h2>[ldap groups] .all</h2>
{% if ldap_group_list %}
    <table style="margin-left:auto;margin-right:auto">
    {% for ldap_group in ldap_group_list %}
    <tr>
        <td class="left">{{ ldap_group.cn }}</td>
        <td><a href="/ldap/group/{{ ldap_group.id }}/delete/">[delete]</td>
    </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No ldap groups are available.</p>

{% endif %}
{% endblock %}
