{% load bootstrap3 %}

<div class="modal-header"> 
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title" id="myModalLabel">{{ form_title }}</h4> 
</div> 
<div class="modal-body"> 
    <form action="{% url 'project_new' %}" id="{{ form_id }}" method="post"

    <h3>Basic Details</h3>
            {% csrf_token %}
            {% bootstrap_form form %}

	<h3>Associated Identifiers</h3>

            <fieldset>
		        {{ identifier_form.management_form }}
                {{ identifier_form.non_form_errors }}
                {% for form in identifier_form %}
                    {{ form.id }}
                    <div class="inline {{ identifier_form.prefix }}">
                        {{ form.description.errors }}
                        {{ form.description.label_tag }}
                        {{ form.description }}
                        {{ form.as_table }}
                    </div>
                {% endfor %}

            <input type="button" value="Add More" id="add_more">
            <script>
                $('#add_more').click(function() {
                    cloneMore('div.inline:last', 'identifier_set');
            });
            </script>

            </fieldset>

    {% buttons %}
        <button type="submit" class="btn btn-primary">
            {{ button_value }}
        </button>
    {% endbuttons %}

    </form>
</div>
<script> 
    var form_options = { target: '#myModal', success: function() { } };
    $('#new_list_form').ajaxForm(form_options); 
</script> 
