{% extends 'base.html' %}
{% load staticfiles %}
{% block mainpage %}

    <div class="page-header">

    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Email Test: {{ emailtest.name }}</h3>
        </div>

        <div class="panel-body">
            <div class="row">
                <div class="col-md-3 col-lg-3 " align="center">
                    <h2>Overview</h2>
                </div>
                <div class=" col-md-9 col-lg-9 ">
                    <table class="table table-user-information">
                        <tbody>
                        <tr>
                            <td>Name:</td>
                            <td>{{ emailtest.name }}</td>
                        </tr>
                        {% if emailtest.fromaddr %}
                            <tr>
                                <td>From Address:</td>
                                <td>{{ emailtest.fromaddr }}</td>
                            </tr>
                        {% endif %}
                        {% if emailtest.subject %}
                            <tr>
                                <td>Subject:</td>
                                <td>{{ emailtest.subject }}</td>
                            </tr>
                        {% endif %}
                        {% if emailtest.body %}
                            <tr>
                                <td>Message Body:</td>
                                <td>{{ emailtest.body }}</td>
                            </tr>
                        {% endif %}
                        {% if emailtest.messagetype %}
                            <tr>
                                <td>Message Type:</td>
                                <td>{{ emailtest.messagetype }}</td>
                            </tr>
                        {% endif %}
                        {% if emailtest.testtype %}
                            <tr>
                                <td>Test Type:</td>
                                <td>{{ emailtest.testtype }}</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                    <a href="/emailtest/{{ emailtest.id }}/update/" class="btn btn-primary">update</a>
                    <a href="/emailtest/{{ emailtest.id }}/delete/" class="btn btn-primary">delete</a>

                </div> <!-- end of column -->

            </div>
            <!-- end of row -->
        </div>
        <!-- end of panel body -->
    </div> <!-- end of panel -->

{% endblock %}

