{% extends 'base.html' %}
{% load staticfiles %}
{% block mainpage %}

     <div class="page-header">
    <div class="row">
        <h3 class="text-center">What shall we do today?</h3>
    </div>
    <div class="row">
        <div class="col-md-4 col-lg-4 " align="center">
            <h2>Know</h2>
            <a href="/org/{{ organisation_id }}/view/"><button type="button" class="btn btn-primary btn-sm">View Organisation</button></a>
            <img width="100" alt="" src="{% static 'images/largebinary.jpg'%}" class="img-circle">
        </div>
        <div class="col-md-4 col-lg-4 " align="center">
            <h2>Test</h2>
            <a href="/test/org/{{ organisation_id }}/view/" class="btn btn-primary">Test Organisation</a>
            <img width="100" alt="" src="{% static 'images/largebinary.jpg'%}" class="img-circle">
        </div>
        <div class="col-md-4 col-lg-4 " align="center">
            <h2>Analyse</h2>
            <a href="/analyse/org/{{ organisation_id }}/view/" class="btn btn-primary">Analyse Organisation</a>
            <img width="100" alt="" src="{% static 'images/largebinary.jpg'%}" class="img-circle">
        </div>
    </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Testing Summary</h3>
        </div>

 <div class="panel-body">
            <div class="row">

                <div class="col-md-2 col-lg-2" align="center">
                    <i class="fa fa-star fa-5x"></i>
                    <h2>New Tests</h2>
                    <p>{{ tests_new }}</p>
                </div>
                <div class="col-md-2 col-lg-2" align="center">
                    <i class="fa fa-spinner fa-5x"></i>
                    <h2>Running</h2>
                    <p>{{ tests_running }}</p>
                </div>
                <div class="col-md-2 col-lg-2" align="center">
                    <i class="fa fa-check-square fa-5x"></i>
                    <h2>Completed</h2>
                    <p>{{ tests_complete }}</p>
                </div>
                <div class="col-md-2 col-lg-2" align="center">
                    <i class="fa fa-history fa-5x"></i>
                    <h2>Scheduled</h2>
                    <p>{{ tests_scheduled }}</p>
                </div>
                <div class="col-md-2 col-lg-2" align="center">
                    <i class="fa fa-exclamation-circle fa-5x"></i>
                    <h2>Errors</h2>
                    <p>{{ tests_error }}</p>
                </div>
                <div class="col-md-2 col-lg-2" align="center">
                    <i class="fa fa-refresh fa-5x"></i>
                    <h2>Recurring</h2>
                    <p>{{ tests_recurring }}</p>
                </div>
            </div>

        </div> <!-- end of panel -->
</div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Current Tests</h3>
        </div>

        <div class="panel-body">

{% if list %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Timing</th>
                        <th>Status</th>
                        <th>
                        <div class="btn-group">
                            <a class="btn btn-primary" href="#"><i class="fa fa-plus fa-fw"></i>Add Test</a>
                                  <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown"  aria-expanded="false" href="#">
                                        <span class="fa fa-caret-down"></span></a>
                                          <ul class="dropdown-menu">
                           {% for module in test_modules %}
                                  <li><a href="{{ module.url }}"><i class="fa {{ module.icon }} fa-fw"></i> {{ module.name }}</a></li>
                           {% endfor %}
                                          </ul>
                        </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
    {% for item in list %}
    <tr>
        <td><i class="fa {{ item.testtype.icon }} }}"></i></td>
        <td>{{ item.name }}</td>
        <td>{{ item.description }}</td>
        <td>{{ item.timingtype }}</td>
        <td>{{ item.teststatus }}</td>
        <td>

          <a href="/test/{{ item.testtype|lower }}/{{ item.id }}/view/"><button type="button" class="btn btn-primary btn-sm">View</button></a>
          <a href="/test/{{ item.testtype|lower }}/{{ item.id }}/update/"><button type="button" class="btn btn-primary btn-sm">Update</button></a>
          <a href="/test/{{ item.testtype|lower }}/{{ item.id }}/delete/"><button type="button" class="btn btn-primary btn-sm">Delete</button></a>
    </tr>
    {% endfor %}
     </tbody>
    </table>
{% else %}
    <p>No tests are available.(</p>
{% endif %}

        </div>
        <!-- end of panel body -->
    </div> <!-- end of panel -->

{% endblock %}

