{% extends 'base.html' %}
{% load staticfiles %}
{% block mainpage %}

    <div class="page-header">

    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Test: {{ test.name }}</h3>
        </div>

        <div class="panel-body">
            <div class="row">
                <div class="col-md-3 col-lg-3 " align="center">
                    <h2>Overview</h2>
                </div>
                <div class=" col-md-9 col-lg-9 ">
                    <table class="table table-user-information">
                        <tbody>
                        <tr>
                            <td>Name:</td>
                            <td>{{ test.name }}</td>
                        </tr>
                        {% if test.description %}
                            <tr>
                                <td>Description:</td>
                                <td>{{ test.description }}</td>
                            </tr>
                        {% endif %}
                        {% if test.testtype %}
                            <tr>
                                <td>Type:</td>
                                <td>{{ test.testtype }}</td>
                            </tr>
                        {% endif %}
                        {% if test.timingtype %}
                            <tr>
                                <td>Scheduled for:</td>
                                <td>{{ test.timingtype }}</td>
                            </tr>
                        {% endif %}
                        {% if test.org %}
                            <tr>
                                <td>Target Organisation:</td>
                                <td>{{ test.org.name }}</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                    <a href="/test/{{ test.id }}/update/" class="btn btn-primary">update</a>
                    <a href="/test/{{ test.id }}/delete/" class="btn btn-primary">delete</a>

                </div> <!-- end of column -->

            </div>
            <!-- end of row -->
        </div>
        <!-- end of panel body -->
    </div> <!-- end of panel -->

{% endblock %}

