{% extends 'base.html' %}
{% load staticfiles %}
{% block mainpage %}

      <div class="page-header">
    <div class="row">
        <h3 class="text-center">What shall we do today?</h3>
    </div>
    <div class="row">
        <div class="col-md-4 col-lg-4 " align="center">
            <h2>Know</h2>
            <a href="/org/{{ organisation.id }}/view/"><button type="button" class="btn btn-primary btn-sm">View Organisation</button></a>
            <img width="100" alt="" src="{% static 'images/largebinary.jpg'%}" class="img-circle">
        </div>
        <div class="col-md-4 col-lg-4 " align="center">
            <h2>Test</h2>
            <a href="/test/org/{{ organisation.id }}/view/" class="btn btn-primary">Test Organisation</a>
            <img width="100" alt="" src="{% static 'images/largebinary.jpg'%}" class="img-circle">
        </div>
        <div class="col-md-4 col-lg-4 " align="center">
            <h2>Analyse</h2>
            <a href="/analyse/org/{{ organisation.id }}/view/" class="btn btn-primary">Analyse Organisation</a>
            <img width="100" alt="" src="{% static 'images/largebinary.jpg'%}" class="img-circle">
        </div>
    </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Twitter Test: {{ test.name }}</h3>
        </div>

        <div class="panel-body">
            <div class="row">
                <div class="col-md-3 col-lg-3 " align="center">
                    <h2>Overview</h2>
                </div>
                <div class=" col-md-9 col-lg-9 ">
                    <table class="table table-user-information">
                        <tbody>
                        <tr>
                            <td>Name:</td>
                            <td>{{ test.name }}</td>
                        </tr>
                        {% if test.testtype %}
                            <tr>
                                <td>Test Type:</td>
                                <td>{{ test.testtype }}</td>
                            </tr>
                        {% endif %}
                        {% if test.tweet.tweet %}
                            <tr>
                                <td>Tweet:</td>
                                <td>{{ test.tweet.tweet }}</td>
                            </tr>
                        {% endif %}
                        {% if test.link%}
                            <tr>
                                <td>Link:</td>
                                <td>{{ test.link }}</td>
                            </tr>
                        {% endif %}
                        {% if test.twitteraccount %}
                            <tr>
                                <td>Sender Twitter Account:</td>
                                <td>{{ test.twitteraccount.username }}</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                    <a href="/test/twitter/{{ test.id }}/update/" class="btn btn-primary">update</a>
                    <a href="/test/twitter/{{ test.id }}/delete/" class="btn btn-primary">delete</a>

                </div> <!-- end of column -->

            </div>
            <!-- end of row -->
        </div>
        <!-- end of panel body -->
    </div> <!-- end of panel -->

{% endblock %}

