{% extends 'dh5bp/base.html' %}


{# Display django.contrib.messages as Bootstrap alerts #}

{% load staticfiles %} /* for the use of the static variable - see below */
{% load bootstrap3 %} /* for the use of the static variable - see below */
{% load url from future %}
{% block title %}AVA- Visibly More Secure{% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />

    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar-static-top.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/jumbotron-narrow.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-glyphicons.css' %}" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="{% static 'js/jquery-2.1.0.js' %}"></script>
    <script src="{% static 'js/jquery.form.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/d3.js' %}"></script>

{% endblock %}

{% block content %}
{% block topnavbar %}

    <!-- <div class="banner">
        <img src="{% static 'images/dep_black_small.png'%}" alt='depend[able]'/>
    </div> -->
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
   <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">AVA - Visibly More Secure</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Dashboard</a></li>
                <li><a href="/project/new/">New Project</a></li>
                <li><a href="/project/">Manage Projects</a></li>
               
                {% if user == None %} 
                    <li><a href="/accounts/login/">Login</a></li>
                {% else %} 
                    <li><a href="/accounts/logout/">Logout</a></li>
                {% endif %}
            </ul>
        </div><!--/.nav-collapse -->
    </div> <!-- end of container-fluid -->
</div> <!-- end of navbar -->

{% endblock %}

<div class="page-header">
    <div class="row">
        <h3 class="text-center">What shall we do today?</h3>
    </div>
    <div class="row">
        <div class="col-md-4 col-lg-4 " align="center">
            <h2>Know</h2>
            <a href="/org/{{ organisation.id }}/view/"><button type="button" class="btn btn-primary btn-sm">View Organisation</button></a>
            <img width="100" alt="" src="{% static 'images/largebinary.jpg'%}" class="img-circle">
        </div>
        <div class="col-md-4 col-lg-4 " align="center">
            <h2>Test</h2>
            <a href="/test/org/{{ organisation.id }}/" class="btn btn-primary">Test Organisation</a>
            <img width="100" alt="" src="{% static 'images/largebinary.jpg'%}" class="img-circle">
        </div>
        <div class="col-md-4 col-lg-4 " align="center">
            <h2>Analyse</h2>
            <a href="/analyse/org/{{ organisation.id }}/view/" class="btn btn-primary">Analyse Organisation</a>
            <img width="100" alt="" src="{% static 'images/largebinary.jpg'%}" class="img-circle">
        </div>
    </div>
</div>

<div class="container-fluid">
 <!-- Modal -->
        <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

       {% block mainpage %}{% endblock %}

</div> <!-- end of container-fluid --
{% endblock %}
