{% extends 'base.html' %}
{% block title %}AVA - Visibly More Secure{% endblock %}
{% block mainpage %}

<h2>[ldap] .all {{ item_type }}s</h2>

{% if ldap_item_list %}
    <table style="margin-left:auto;margin-right:auto">
    {% for ldap_item in ldap_item_list %}
    <tr>
        <td class="left"><a href="/ldap/{{ item_type }}/{{ ldap_item.id }}/view/">{% if item_type == 'user' %}{{ ldap_item.displayName }}{% else %}{{ ldap_item.cn }} {% endif %}</a></td>
        <td><a href="/ldap/{{ item_type }}/{{ ldap_item.id }}/delete/">[delete]</td>
    </tr>
    {% endfor %}
    </table>
{% else %}
<p>No ldap {{ item_type }}s are available.</p>
{% endif %}

{% endblock %}
