{% extends 'base.html' %}
{% block title %}AVA - Visibly More Secure{% endblock %}
{% block mainpage %}

<div class="scrollblock block-merging">

<h2>[ldap config] {{ ldap_config.server }}</h3>
    <table style="margin-left:auto;margin-right:auto;">
        <tr>
            <td>{{ ldap_config.user_dn }}</td>
            <td>{{ ldap_config.dump_dn }}</td>
        </tr>
    </table>

<a href="/ldap/{{ ldap_config.id }}/update/">[update]</a>
<a href="/ldap/{{ ldap_config.id }}/delete/">[delete]</a>
<a href="/ldap/{{ ldap_config.id }}/getusers/">[get users]</a>

</div>
{% endblock %}

